<script>add_css("/css/profile.css?<%=Time.now.to_i%>")</script>

<div id="user-display">
    <%follow_button = " "%>
    <%if session[:user]%>
        <%if !FollowList.is_following?(session[:user][:id], user['id'])%>
            <%follow_button += "<form action=\"/users/" + user['id'].to_s + "/follow\" method=\"post\"> <button type=\"submit\">Follow</button></form>"%>
        <%else%>
            <%follow_button += "<form action=\"/users/" + user['id'].to_s + "/unfollow\" method=\"post\"> <button type=\"submit\">Unfollow</button></form>"%>
        <%end%>
    <%end%>
    
    <%=display_user_panel(user['id'], follow_button, "completions: #{completions}<br><br>score: #{user['score']}<br><br> followers: #{follower_count} <br>following: #{following_count}")%>
</div>

<div id="user-feed">
    <%=display_activity_feed([user['id']])%>
</div>