<script>add_css("/css/activity_feed.css?<%=Time.now.to_i%>", "/css/user_panel.css?<%=Time.now.to_i%>")</script>

<%if !activities.empty?%>
    <%activities.each do |activity| %>
        <%=display_user_panel(activity['user_id'], activity['time'], activity['content'])%>
        <div class="activity-feed-split"><span>.</span><span>.</span><span>.</span></div>
    <%end%>
<%elsif !session[:user]%>
    <a href="/users/login">Log in</a>, or <a href="/users/new">create an account</a>, to see your activity feed  
<%else%>
    Theere are no activities to be shown
<%end%>