<div class="account-container">
    <h2>Login</h2>
    <form action="/create-account" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Create Account">
    </form>
    <%if status == 400%>
        <p>User already exists</p>
    <%end%>
</div>