<script>add_css("/css/home_page.css?<%=Time.now.to_i%>")</script>

<%if session[:user]%>
 <div class="activity-feed">
    <%ids = db.execute('SELECT recipient FROM follow_list WHERE follower = ?', [session[:user][:id]]).map { |item| item['recipient'] } %>
    <%=display_activity_feed(ids)%>
  </div>
<%end%>