<script>add_css("/css/home_page.css?<%=Time.now.to_i%>")</script>

<%if session[:user]%>
    <div id="add-completion"><a href='/completions/new'>Add Completion</a></div>

 <div class="activity-feed">
    <%ids = FollowList.get_following(session[:user][:id]).map { |item| item['recipient'] } %>
    <%=display_activity_feed(ids)%>
<%else%>
    <a href="/users/login">Log in</a>, or <a href="/users/new">create an account</a>, to see your activity feed  
<%end%>
 </div>

