<script>add_css("/css/leaderboard.css?<%=Time.now.to_i%>")</script>

<h2>Leaderboard</h2>

<div id="container">
    <%i = 0%>
    <%while i < users.length%>
        <%if session[:user] && session[:user][:id] == users[i]['id']%>
            <div class="player" id="self">
        <%else%>
            <div class="player">
        <%end%>
            <%=display_user_panel(users[i]['id'], "<div class='player-info'><span>Score: #{users[i]['score']}</span> <span>| <strong>#{i + 1}</strong></span></div>", "")%>
        </div>
        <%i += 1%>
    <%end%>
</div>