.activity-feed-split {
    display: flex;
    justify-content:center;
    align-items: baseline;

    margin: 30px 0;
}

.activity-feed-split :nth-child(odd) {
    font-size: 24px;
}

.activity-feed-split :nth-child(even) {
    font-size: 36px;
    margin: 0 10%;
}