body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #666 1px dotted;
  border-radius: 20px 20px;

  padding: 0 10px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

header nav div {
  margin: 0 10px;
}

#profile-link {
  position: absolute;
  left: 50%;
}