.user-panel {
    border-radius: 0 0 20px 20px;

    height: 100%;
    width: 100%;
    background: lightgray;
}

.user-panel, .header, .user-panel .content > div {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 20px 20px;
}

.user-panel .header {
    height: 75px;
    width: auto;

    display: grid;
    grid-template-columns: auto 1fr;

    border-radius: 0 0 20px 0;

    background: grey;
}

.user-panel .header .profile-picture {
    height: 100%;
    
    overflow: hidden;
    border-radius: 50%;

    position: relative;
    left: -50%;

    display: flex;
    justify-content: center;
}

.user-panel .header .profile-picture img {
    height: 100%;
    min-width: 100%;
}

.content > div {
    padding: 10px;
}

.content > div:last-child {
    border: none
}

.user-panel .header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}